{#<!DOCTYPE html>#}
{#<html lang="ko">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>서적 검색(id)</title>#}
{#</head>#}
{#<body>#}

{% extends "layout.html" %}
{% block contents %}

{#<form action="/book_id_search_process" method="post">#}
{#    id:#}
{#    <input type="text" name="id">#}
{#    <input type="submit" name="입 력">#}
{#</form>#}

<form action="/book_id_search_process" method="post">

    <select class="custom_select"
            style="width: 100px"
            name="selected">
        <option>ID</option>
        <option>TITLE</option>
        <option>AUTHOR</option>
        <option>PRICE</option>
        <option>ISBN</option>
    </select>
    <input type="text" name="id">
    <input type="submit" name="입 력">

</form>

{% endblock %}

{#</body>#}
{#</html>#}