{% extends "layout.html" %} <!-- 상속받겠다 -->
{% block contents %}
    <form >
      <div class="row">
        <div class="col-sm-2"></div>
          <div class="col-sm-8">
              <form >
                  <div class="card" >
                    <img width="100%" height="100%"
                         src="/static/images/error.jpg"; class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">{{ id }}</p>
                    </div>
                </div>
            </form>
          </div>
        <div class="col-sm-2"></div>
      </div>
    </form>
{% endblock %}